<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ninja Gold</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'ninja_gold_app/style.css' %}">
    </head>
    <body>
        <h4>Your Gold: <a id="gold">0</a></h4>
        <!-- will need a session to keep track of gold amount -->
        <div class='place'>
            <h4>Farm</h4>
            <p>(earns 10-20 gold)</p>
            <form action='/process_money' method='post'>
                {% csrf_token %}
                <input type='hidden' name='building' value='farm'>
                <input type='submit' value='Find Gold!'>
            </form>
        </div>
        <div class='place'>
            <h4>Cave</h4>
            <p>(earns 5-10 gold)</p>
            <form action='/process_money' method='post'>
                {% csrf_token %}
                <input type='hidden' name='building' value='cave'>
                <input type='submit' value='Find Gold!'>
            </form>
        </div>
        <div class='place'>
            <h4>House</h4>
            <p>(earns 2-5 gold)</p>
            <form action='/process_money' method='post'>
                {% csrf_token %}
                <input type='hidden' name='building' value='house'>
                <input type='submit' value='Find Gold!'>
            </form>
        </div>
        <div class='place'>
            <h4>Casino</h4>
            <p>(earns/takes 0-50 gold)</p>
            <form action='/process_money' method='post'>
                {% csrf_token %}
                <input type='hidden' name='building' value='casino'>
                <input type='submit' value='Find Gold!'>
            </form>
        </div>
        <p>Activities: </p>
        <div id="act">
            {% for item in request.session.results %}
                <p class='{{item.class}}'>{{item.message}} ({{item.time}})</p>
            {% endfor %}
        </div>
    </body>
</html>